<!DOCTYPE html>
<html lang="en">

<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
      <title>Cheqify</title>

      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"
      />
      <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"
      />
</head>

<body>
      <nav class="blue" role="navigation">
            <div class="nav-wrapper container">
                  <a id="logo-container" href="#" class="brand-logo">Cheqify</a>
                  <!--<ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>-->
                  <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="material-icons">menu</i>
                  </a>
            </div>
      </nav>
      <div class="section no-pad-bot" id="index-banner" style="margin-bottom: 18%">
            <div class="container">
                  <br>
                  <h1 class="header center orange-text">Analysis</h1>
                  <div class="row center">
                        <div class="col s8 offset-s2">
                              <img  class="responsive-img" src="{{ url_for('static', filename='images/cheques/'+user_data.chq_num | string) }}">
                        </div>
                        <table class="bordered striped">
                              <thead>
                                    <tr>
                                          <th>Number</th>
                                          <th>Field</th>
                                          <th>Data from API</th>
                                          <th>Extracted Data</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    <tr>
                                          <td>1</td>
                                          <td>Chq_Num</td>
                                          <td> {{ user_data.chq_num }} </td>
                                          <td> {{ eval_data.chq_num }} </td>
                                    </tr>
                                    <tr>
                                          <td>2</td>
                                          <td>Amount in Words</td>
                                          <td> {{ user_data.amount_words }} </td>
                                          <td> {{ eval_data.amount_words }} </td>
                                    </tr>
                                    <tr>
                                          <td>3</td>
                                          <td>Amount in Digits</td>
                                          <td> {{ user_data.amount_digit }} </td>
                                          <td> {{ eval_data.amount_digit }} </td>
                                    </tr>
                                    <tr>
                                          <td>4</td>
                                          <td>Chq Date</td>
                                          <td> {{ user_data.chq_date }} </td>
                                          <td> {{ eval_data.chq_date }} </td>
                                    </tr>
                                    <tr>
                                          <td>5</td>
                                          <td>MICR Code</td>
                                          <td> {{ user_data.micr_code }} </td>
                                          <td> {{ eval_data.micr_code }} </td>
                                    </tr>
                                    <tr>
                                          <td>6</td>
                                          <td>SAN No</td>
                                          <td> {{ user_data.san_no }} </td>
                                          <td> {{ eval_data.san_no }} </td>
                                    </tr>
                                    <tr>
                                          <td>7</td>
                                          <td>Beneficiary Name</td>
                                          <td> {{ user_data.ben_name }} </td>
                                          <td> {{ eval_data.ben_name }} </td>
                                    </tr>
                                    <tr>
                                          <td>8</td>
                                          <td>Payee Account Number</td>
                                          <td> {{ user_data.payee_ac_no }} </td>
                                          <td> {{ eval_data.payee_ac_no }} </td>
                                    </tr>
                                    <tr>
                                          <td>9</td>
                                          <td>Chq Stale</td>
                                          <td> {{ user_data.chq_stale }} </td>
                                          <td> {{ eval_data.chq_stale }} </td>
                                    </tr>
                                    <tr>
                                          <td>10</td>
                                          <td>Amount Match</td>
                                          <td> {{ user_data.amt_match }} </td>
                                          <td> {{ eval_data.amt_match }} </td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>
            </div>
      </div>


      <footer class="page-footer blue">
            <div class="container">

            </div>
            <div class="footer-copyright">
                  <div class="container">
                        Made by Aniruddha Mysore and Adish Rao | 2019
                  </div>
            </div>
      </footer>


      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
      <script src="{{ url_for('static', filename='js/init.js') }}"></script>

</body>

</html>