{% extends 'layout.html' %}
{% block content %}
<h1 class="header center orange-text">Analysis</h1>
<div class="row center">
    <div class="col s8 offset-s2">
            <style>
                #cheque {
                    width: 640px;
                    height: 350px;
                    background: url({{ url_for('static', filename='images/cropped/'+user_data.chq_num | string) }}) no-repeat;
                    position: relative;
                }
        
                #cheque li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    top: 0;
                }
        
                #cheque li,
                #cheque a {
                    height: 350px;
                    display: block;
                }
        
                #scanner {
                    left: 0;
                    width: 100px;
                    animation: scanning 5s linear infinite;
                }
        
                @keyframes scanning {
                    0% {
                            transform: translate(0, 0);
                            background: transparent url({{ url_for('static', filename='images/canny/'+user_data.chq_num | string) }}) 0 0 no-repeat;
                    }
                    50% {
                            transform: translate(540px, 0);
                            background: transparent url({{ url_for('static', filename='images/canny/'+user_data.chq_num | string) }}) -540px 0 no-repeat;
                    }
                    100% {
                            transform: translate(0, 0);
                            background: transparent url({{ url_for('static', filename='images/canny/'+user_data.chq_num | string) }}) 0 0 no-repeat;
                    }
                }
        
            </style>
        <ul id="cheque">
            <li id="scanner"><a></a></li>
        </ul>
    </div>
    <table class="bordered striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Field</th>
                <th>Data from API</th>
                <th>Extracted Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Chq_Num</td>
                <td> {{ user_data.chq_num }} </td>
                <td> {{ eval_data.chq_num }} </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Amount in Words</td>
                <td> {{ user_data.amount_words }} </td>
                <td> {{ eval_data.amount_words }} </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Amount in Digits</td>
                <td> {{ user_data.amount_digit }} </td>
                <td> {{ eval_data.amount_digit }} </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Chq Date</td>
                <td> {{ user_data.chq_date }} </td>
                <td> {{ eval_data.chq_date }} </td>
            </tr>
            <tr>
                <td>5</td>
                <td>MICR Code</td>
                <td> {{ user_data.micr_code }} </td>
                <td> {{ eval_data.micr_code }} </td>
            </tr>
            <tr>
                <td>6</td>
                <td>SAN No</td>
                <td> {{ user_data.san_no }} </td>
                <td> {{ eval_data.san_no }} </td>
            </tr>
            <tr>
                <td>7</td>
                <td>Beneficiary Name</td>
                <td> {{ user_data.ben_name }} </td>
                <td> {{ eval_data.ben_name }} </td>
            </tr>
            <tr>
                <td>8</td>
                <td>Payee Account Number</td>
                <td> {{ user_data.payee_ac_no }} </td>
                <td> {{ eval_data.payee_ac_no }} </td>
            </tr>
            <tr>
                <td>9</td>
                <td>Chq Stale</td>
                <td> {{ user_data.chq_stale }} </td>
                <td> {{ eval_data.chq_stale }} </td>
            </tr>
            <tr>
                <td>10</td>
                <td>Amount Match</td>
                <td> {{ user_data.amt_match }} </td>
                <td> {{ eval_data.amt_match }} </td>
            </tr>
        </tbody>
    </table>
    <div class="col s6 offset-s3">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>    
    <script>
        var data = [
            Number('{{ user_data.chq_num }}' === '{{ eval_data.chq_num }}'),
            Number('{{ user_data.amount_words }}' === '{{ eval_data.amount_words }}'),
            Number('{{ user_data.amount_digit }}' === '{{ eval_data.amount_digit }}'),
            Number('{{ user_data.chq_date }}' === '{{ eval_data.chq_date }}'),
            Number('{{ user_data.micr_code }}' === '{{ eval_data.micr_code }}'),
            Number('{{ user_data.san_no }}' === '{{ eval_data.san_no }}'),
            Number('{{ user_data.ben_name }}' === '{{ eval_data.ben_name }}'),
            Number('{{ user_data.payee_ac_no }}' === '{{ eval_data.payee_ac_no }}'),
        ];
        window.onload =  function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                labels: ['Chq_num', 'Amount in Words', 'Amount', 'Chq Date', 'MICR', 'San', 'Beneficiary Name', 'Payee Account Num'],
                datasets: [{
                    label: 'steppedLine:',
                    steppedLine: true,
                    data: data,
                    backgroundColor: [
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                    fill: true,
                }]
                },
                options: {
                responsive: true,
                title: {
                    display: true,
                    //text: details.label,
                },
                }
            });
            };
    </script>
</div>
{% endblock %}