{% extends 'layout.html' %}
{% block content %}
<h1 class="header center orange-text">Cheque Images in Database</h1>
<div class="row center">
    <h5 class="header col s12 light">Click on Evaluate to view analysis</h5>
</div>

<div class="row center">
    <table class="bordered striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Cheque Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in res %}
            <tr>
                <td>
                    <div class="row">
                        <div class="col s4">
                            <img class="responsive-img"
                                src="{{ url_for('static', filename='images/cheques/'+ i[1] | string) }}">
                        </div>
                    </div>
                </td>
                <td>{{ i[0] }}</td>
                <td>
                    <a href="/evaluate/{{ i[1] }}" class="btn waves-effect waves-light orange">Evaluate</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}