{% extends 'layout.html' %}
{% block content %}
<h1 class="header center orange-text">Cheqify Server</h1>
<div class="row center">
    <h5 class="header col s12 light">Cheque recognition and text extraction using Tensorflow, OpenCV and Tesseract-OCR
    </h5>
</div>
<div class="row center">
    <a href="/upload" class="btn-large waves-effect waves-light red">Upload Image</a>
    <br>
    <br>
    <a href="/gallery" class="btn-large waves-effect waves-light orange">Gallery</a>
    <br>
    <br>
    <a href="/credits" class="btn-large waves-effect waves-light green">Credits</a>
</div>
{% endblock %}