<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Cheqify</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/Chart.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="blue" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">Cheqify</a>
    </div>
  </nav>
  <div class="section no-pad-bot" style="margin-bottom: 20%">
    <div class="container" style="padding-top: 100px">
        {% block content %}
        {% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <script>
              alert('{{message}}')
            </script>
          {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
  </div>


  <footer class="page-footer blue">
    <div class="container"></div>
    <div class="footer-copyright">
      <div class="container">
        Made by Aniruddha Mysore and Adish Rao | 2019
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

  </body>
</html>
