{% extends 'layout.html' %}
{% block content %}
<h1 class="header center orange-text">Upload new File</h1>
<form class="center" method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
    <div class="row" style="margin-top: 25px;" >
        <div class="col s3"></div>
        <div class="col s6">
            <div class='card'>
                <div class='card-content'>
                    <fieldset style='border:none'>
                            <legend class="orange-text" style="text-decoration: underline;font-weight:bold;">
                                Cheque Details
                            </legend>
                            <input name="cheq_num" placeholder="Cheque Number" type="number"/>
                            <input name="sum_in_words" placeholder="Sum in Words" type="text"/>
                            <input type="number" placeholder="Sum in Numbers" name = "sum_in_num"/>
                            <input type="date" placeholder="Select Date" class="datepicker" name="cheq_date"/>
                            <input type="number" placeholder="MICR Code" name = "MICR"/>
                            <input type="number" placeholder="SAN No" name = "SAN"/>
                            <input type="text" placeholder="Beneficiary Name" name = "name"/>
                            <input type="number" placeholder="Payee Account Number" name = "acc_no"/>
                            <input type="text" placeholder="Chq Stale" name = "Chq_Stale"/>
                            <input type="text" placeholder="Amount Match" name = "Amount_Match"/>
                    </fieldset>           
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}